h1 {
    color: red;
}

.book-title {
    background-color: bisque;
}

.description {
    background-color: aquamarine;
    font-size: smaller;
    display: none;
}

.delete-book-btn {
    background-color: hotpink;
}